<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoqao.web.dao.SeatMapper">

    <!--添加座位信息-->
    <insert id="insertSeat">
        <selectKey resultType="java.lang.Integer" keyProperty="sid" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO seat (fid,leftside,row,columns,seatnumber,statue)VALUES
        (#{seat.fid},#{seat.leftside},#{seat.row},#{seat.columns},#{seat.seatnumber},0)
    </insert>

    <!--根据楼层id查询所有座位-->
    <select id="findSeatsByFid" resultType="com.xoqao.web.bean.seat.Seat">
        SELECT sid,fid,row,leftside,columns,seatnumber,statue FROM seat WHERE fid=#{fid}
    </select>

    <select id="findSeatsByFidPage" resultType="com.xoqao.web.bean.seat.Seat">
        SELECT sid,fid,row,leftside,columns,seatnumber,statue FROM seat WHERE fid=#{fid}
         limit #{startRow},#{pageSize}
    </select>

    <!--根据座位id修改座位状态-->
    <update id="updateSeatSatue">
        UPDATE seat SET statue=#{statue} WHERE sid=#{sid}
    </update>

    <!--根据座位id查询座位信息-->
    <select id="findByid" resultType="com.xoqao.web.bean.seat.Seat">
         SELECT sid,fid,row,leftside,columns,seatnumber,statue FROM seat WHERE sid=#{sid}
    </select>
    <!--根据座位id删除座位-->
    <delete id="deleteSeat">
    DELETE FROM seat WHERE sid=#{sid}
    </delete>

    <!--根据座位编号查询座位信息-->
    <select id="findSeatBynumber" resultType="com.xoqao.web.bean.seat.Seat">
        SELECT sid,fid,row,leftside,columns,seatnumber,statue FROM seat WHERE seatnumber LIKE '${seatnumber}'
    </select>
</mapper>