<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xoqao.web.dao.WeekOpenMapper">

    <!--根据楼层id查询周开放信息-->
    <select id="findweekByfid" resultType="com.xoqao.web.bean.weekopen.WeekOpen">
    SELECT woid,lid,param1,param2,week,statue FROM  weekopen WHERE lid=#{fid} ORDER BY  week
</select>

    <!--修改周开放状态-->
    <update id="updatestatue">
        UPDATE weekopen SET statue=#{statue} WHERE woid=#{woid}
    </update>

    <!--删除周时间安排-->
    <delete id="deletestatue">
        DELETE FROM  weekopen WHERE woid=#{woid}
    </delete>

    <!--添加日期安排信息-->
    <insert id="insertweek">
        <selectKey resultType="java.lang.Integer" keyProperty="woid" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO weekopen (lid,param1,param2,week,statue)VALUES
        (#{weekOpen.lid},#{weekOpen.param1},#{weekOpen.param2},#{weekOpen.week},0)
    </insert>
    <!--查看当天场馆开放情况-->
    <select id="findopen" resultType="com.xoqao.web.bean.weekopen.WeekOpen">
        SELECT woid,lid,param1,param2,week,statue
        FROM  weekopen
        WHERE week=WEEKDAY(NOW())+#{day} AND statue=0
    </select>

    <!--查看当天某个场馆开放时间段-->
    <select id="findopenFloortoday" resultType="com.xoqao.web.bean.weekopen.WeekOpen">
         SELECT woid,lid,param1,param2,week,statue
        FROM  weekopen
         WHERE week=WEEKDAY(NOW())+1 AND statue=0 AND lid=#{fid}
    </select>

    <!--根据楼层id和今明天查询开放管-->
    <select id="findopenfloorsday" resultType="com.xoqao.web.bean.weekopen.WeekOpen">
       SELECT weekopen.woid,weekopen.lid,weekopen.param1,weekopen.param2,weekopen.week,weekopen.statue
        FROM  weekopen,floor
        WHERE weekopen.week=WEEKDAY(NOW())+#{day}  AND weekopen.statue=0 AND floor.statue=0 AND floor.bid=#{bid} AND floor.fid=weekopen.lid
    </select>

    <!--查看某天某个场馆开放时间段-->
    <select id="findopenFloorday" resultType="com.xoqao.web.bean.weekopen.WeekOpen">
        SELECT woid,lid,param1,param2,week,statue
        FROM  weekopen
        WHERE week=WEEKDAY(DATE_ADD(CURDATE(),INTERVAL #{day} DAY)) AND statue=0 AND lid=#{fid}
    </select>

</mapper>